<div class="navbar">
    <header>
        <h1>Catch'em All!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users/new">Join a Faction!</a></li>
                <li><a href="/users">View All Members</a></li>
                <li><a href="/userdecks">Faction Member Decks</a></li>
            </ul>
        </nav>
    </header>
</div>