<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Create a Deck'}) %>
    <link rel="stylesheet" type="text/css" href="/styles/users.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Create Your Deck!</h1>

    <h2> Create Your New Deck Below!</h2>

    <form action="/userdecks/create/<%= userId %>" method="POST">
        <label for="userDeckName">Deck Name:</label><br>
        <input type="text" id="userDeckName" name="userDeckName" required><br>

        <label for="userDeckPhoto">Deck Avatar:</label><br>
        <input type="text" id="userDeckPhoto" name="userDeckPhoto" required><br>

        <label for="userDeckDateAdded">Date:</label><br>
        <input type="date" id="userDeckDateAdded" name="userDeckDateAdded"><br>


        <label for="userDeckCards">Pokemon Cards:</label><br>
        <input type="text" id="userDeckCards" name="userDeckCards"><br>

        <input type="submit" value="Submit">
    </form>
</body>
<%- include('../partials/footer.ejs') %>
</html>