<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> New Deck </title>
</head>
<body>
    <h1>Create Your Deck!</h1>

    <h2> Create Your New Deck Below!</h2>
    <form action="/users/decks/create/<%= user._id %>" method="POST">
        <label for="deckName">Deck Name:</label><br>
        <input type="text" id="deckName" name="deckName" required><br>

        <label for="deckPhoto">Deck Avatar:</label><br>
        <input type="text" id="deckPhoto" name="deckPhoto" required><br>

        <label for="dateAdded">Date:</label><br>
        <input type="date" id="dateAdded" name="dateAdded"><br>


        <label for="deckCards">Pokemon Cards:</label><br>
        <input type="text" id="deckCards" name="deckCards"><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>