<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon TCG Decks</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h1>Welcome to Faction Decks!</h1>
    
    <!-- Decks -->
    <main>
        <section class="user-decks">
            <ul>
                <% for (let user of users) { %>
                <% for (let deck of user.decks) { %>
                <li>
                    <h4><%= deck.userDeckName %> - <%= deck.userDeckPhoto %></h4>
                    <p>Created: <%= deck.userDeckDateAdded %></p>
                    <a href="/userdecks/<%= deck._id %>">Read More</a>
                </li>
                <% } %>
                <% } %>
            </ul>
        </section>
    </main>
    </body>
    
    
</html>


