<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon TCG Decks</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h1>Welcome to your Personal Decks!</h1>
    
    <!-- Decks -->
    <h2>All Standard Legal Decks</h2>

    <main>
        <section class="Reviews">
            <ul>
                <% for (let user of users) { %>
                <li>
                    <h4><%= user.userDeckName %> - <%= user.userDeckPhoto %></h4>
                    <p>Created: <%= user.userDeckDateAdded %></p>
                    <a href="/users/decks/<%= user._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>
</body>
</html>


