body {
    background-color: rgb(178, 233, 240);

}
    
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card-item {
    flex: 0 0 calc(30%-20px);
    margin: 10px;
    text-align: center;

}

.card-item img {
    max-width: 100%;
    height: auto;
}
