<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factions!</title>
</head>
<body>
    <h1>Members of the Pokemon Factions!</h1>
    <p>Delete, Update, Create Users</p>
</body>
</html>